<div class="container">
  <div class="wrapper">
    <div class="tablet-wrapper">
    <div class="tablet-wrapper-item">
    <a href="index.html">
      <svg class="footer-logo" width="168" height="16">
        <use href="../img/footer-img/symbol-defs.svg#icon-logo"></use>
      </svg>
      <svg class="footer-logo-pc" width="194" height="18">
        <use href="../img/footer-img/symbol-defs.svg#icon-logo-tb-pc"></use>
      </svg>
    </a>
    <p class="footer-text">
      Whether you're looking for a healthy snack or a thoughtful gift, our fruit
      baskets are the perfect choice.
    </p>
    </div>
    <div class="tablet-wrapper-item-bottom">
    <ul class="link-list">
      <li class="footer-link">how it works</li>
      <li class="footer-link">vegetables</li>
      <li class="footer-link">reviews</li>
    </ul>
    <ul class="address-list">
      <li class="footer-address">
        <a href="tel:+380684439426">+380 (68) 443-94-26</a>
      </li>
      <li class="footer-address">
        <a
          href="https://www.google.com/maps/dir//1678+Pioneer+Rd,
                      +Salt+Lake+City,+UT+84104,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8/
                      @40.733176,-112.0415322,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8752f35bbcfb1369:0x260ab4842496c9e4!2m2!1d-111.9591551!
                      2d40.7332074?entry=ttu"
          >1678 S. Pioneer Road Salt Lake City UT 84104</a
        >
      </li>
    </ul>
    </div> 
    </div>
    <div class="bottom-wrapper">
      <ul class="info-list">
        <li class="footer-info">Privacy Policy</li>
        <li class="footer-info">Cookie settings</li>
      </ul>
      <p class="footer-name">©Green Harvest 2023</p>
    </div>
  </div>
</div>
