<section class="header">
  <div class="header-container">
    <div class="logo-container">
      <svg class="logo-icon">
        <use href="./img/header-img/icons.svg#icon-logo"></use>
      </svg>
      <a href="" class="logo-text"
        ><svg class="logo-text-icon">
          <use href="./img/header-img/icons.svg#icon-logo-text"></use>
        </svg>
      </a>
      <a href="" class="logo-text-desktop"
        ><svg class="logo-text-icon-desktop">
          <use
            href="./img/header-img/icons.svg#icon-logo-text-table-desktop"
          ></use>
        </svg>
      </a>
    </div>
    <div class="btn-menu-container">
      <button type="button" class="open-menu-btn">
        <svg class="open-menu-icon">
          <use href="./img/header-img/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
    <div class="desktop-navigation">
      <nav class="menu-navigation">
        <ul class="menu-list">
          <li class="menu-item">
            <a href="#how-it-works" class="menu-link">How it works</a>
          </li>
          <li class="menu-item">
            <a href="#vegetable" class="menu-link">Vegetables</a>
          </li>
          <li class="menu-item">
            <a href="#review" class="menu-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="buy-btn">
        <a href="">Shop Now</a>
      </button>
    </div>
    <div class="mob-menu">
      <button type="button" class="close-menu-btn">
        <svg class="close-menu-icon">
          <use href="./img/header-img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="mob-menu-navigation">
        <ul class="mob-menu-list">
          <li class="mob-menu-item active">
            <a href="#how-it-works" class="mob-menu-link">How it works</a>
          </li>
          <li class="mob-menu-item">
            <a href="#vegetable" class="mob-menu-link">Vegetables</a>
          </li>
          <li class="mob-menu-item">
            <a href="#review" class="mob-menu-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="menu-buy-btn">
        <a href="">Shop Now</a>
      </button>
    </div>
  </div>
</section>
