<section class="vegetables">
  <div class="container">
    <h2 class="vegetables-title">
      organic <span class="title-span">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-title-three">eggplant</h3>
        <p class="vegetables-subtext">60 UAH / kg</p>
        <img
          class="vegetables-picture"
          srcset="
            ../img/vegetables-img/eggplant-1x.png 1x,
            ../img/vegetables-img/eggplant-2x.png 2x
          "
          src="../img/vegetables-img/eggplant-1x.png"
          alt="eggplant"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-title-three">leek</h3>
        <p class="vegetables-subtext">50 UAH / kg</p>
        <img
          class="vegetables-picture"
          srcset="
            ../img/vegetables-img/leek-1x.png 1x,
            ../img/vegetables-img/leek-2x.png 2x
          "
          src="../img/vegetables-img/leek-1x.png"
          alt="leek"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-title-three">mushrooms</h3>
        <p class="vegetables-subtext">40 UAH / kg</p>
        <img
          class="vegetables-picture"
          srcset="
            ../img/vegetables-img/mushrooms-1x.png 1x,
            ../img/vegetables-img/mushrooms-2x.png 2x
          "
          src="../img/vegetables-img/mushrooms-1x.png"
          alt="mushrooms"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-title-three">corn</h3>
        <p class="vegetables-subtext">60 UAH / kg</p>
        <img
          class="vegetables-picture"
          srcset="
            ../img/vegetables-img/corn-1x.png 1x,
            ../img/vegetables-img/corn-2x.png 2x
          "
          src="../img/vegetables-img/corn-1x.png"
          alt="corn"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-title-three">sweet potatoes</h3>
        <p class="vegetables-subtext">50 UAH / kg</p>
        <img
          class="vegetables-picture"
          srcset="
            ../img/vegetables-img/sweet-potatoes-1x.png 1x,
            ../img/vegetables-img/sweet-potatoes-2x.png 2x
          "
          src="../img/vegetables-img/sweet-potatoes-1x.png"
          alt="sweet_potatoes"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-title-three">carrot</h3>
        <p class="vegetables-subtext">40 UAH / kg</p>
        <img
          class="vegetables-picture"
          srcset="
            ../img/vegetables-img/carrot-1x.png 1x,
            ../img/vegetables-img/carrot-2x.png 2x
          "
          src="../img/vegetables-img/carrot-1x.png"
          alt="carrot"
          width="282"
          height="243"
        />
      </li>
    </ul>
  </div>
</section>
