<section class="order">
  <div class="container">
    <h2 class="order-title">
      Fresh <span>Harvest</span> Box has got you covered
    </h2>
    <p class="order-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <div class="order-content-wrap">
      <div class="order-form-container">
        <p class="order-form-title">
          Ordering <span class="purple">from us</span> is quick and easy! Fill
          out <span class="green">the form</span> below and we will contact you
          !
        </p>
        <form class="order-form">
          <input
            type="text"
            name="user-name"
            class="order-form-input"
            placeholder="Full name"
            required
          />
          <input
            type="email"
            name="user-email"
            class="order-form-input user-email"
            placeholder="Email"
            required
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          />
          <textarea
            name="user-comment"
            class="order-form-textarea"
            placeholder="Comment"
          ></textarea>
          <button type="submit" class="order-form-btn">Send</button>
        </form>
      </div>
      <div class="order-social-container">
        <img src="" alt="" class="order-social-img" />
        <p class="order-social-text">Follow us on our social networks:</p>
        <ul class="order-social-list">
          <li class="order-social-item">
            <a href="" class="order-social-link">instagram</a><span> / </span>
          </li>
          <li class="order-social-item">
            <a href="" class="order-social-link">facebook</a><span> / </span>
          </li>
          <li class="order-social-item">
            <a href="" class="order-social-link">youtube</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
