<section class="order">
  <h2 class="order-title">Fresh Harvest Box has got you covered</h2>
  <p class="order-text">
    Our boxes are packed with delicious, nutritious vegetables, perfect for
    anyone looking to eat healthier or support local farmers. Order your box
    today and start enjoying the best that nature has to offer!
  </p>
  <div class="order-content-wrap">
    <div class="order-form-container">
      <p class="order-form-title">
        Ordering from us is quick and easy! Fill out the form below and we will
        contact you !
      </p>
      <form class="order-form">
        <input type="text" name="" class="order-form-input" />
        <input type="text" name="" class="order-form-input" />
        <textarea name="" class="order-form-textarea"></textarea>
        <button type="submit" class="order-form-btn">SEND</button>
      </form>
    </div>
    <div class="order-social-container">
      <img src="" alt="" class="order-social-img" />
      <p class="order-social-text">Follow us on our social networks:</p>
      <ul class="order-social-list">
        <li class="order-social-item">
          <a href="" class="order-social-link">instagram</a><span> / </span>
        </li>
        <li class="order-social-item">
          <a href="" class="order-social-link">facebook</a><span> / </span>
        </li>
        <li class="order-social-item">
          <a href="" class="order-social-link">youtube</a>
        </li>
      </ul>
    </div>
  </div>
</section>
