<section class="order">
  <div class="container">
    <div class="preform-content">
      <h2 class="order-title">
        Fresh <span>Harvest</span> Box has got you covered
      </h2>
      <p class="order-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="order-content-wrap">
      <div class="order-form-container">
        <p class="order-form-title">
          Ordering <span class="purple">from us</span> is quick and easy! Fill
          out <span class="green">the form</span> below and we will contact you
          !
        </p>
        <form class="order-form">
          <input
            type="text"
            name="user-name"
            class="order-form-input"
            placeholder="Full name"
            required
          />
          <input
            type="email"
            name="user-email"
            class="order-form-input user-email"
            placeholder="Email"
            required
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          />
          <textarea
            name="user-comment"
            class="order-form-textarea"
            placeholder="Comment"
          ></textarea>
          <button type="submit" class="order-form-btn">Send</button>
        </form>
      </div>
      <div class="order-social-container">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/your-order-img/order-stable.jpg    1x,
              ../img/your-order-img/order-stable-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/your-order-img/order-tab.jpg    1x,
              ../img/your-order-img/order-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/your-order-img/order.jpg    1x,
              ../img/your-order-img/order-2x.jpg 2x
            "
          />
          <img
            src="../img/your-order-img/order-tab.jpg"
            alt="Woman cooking"
            class="order-social-img"
            width="528"
          />
        </picture>
        <p class="order-social-text">Follow us on our social networks:</p>
        <ul class="order-social-list">
          <li class="order-social-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="order-social-link"
              target="_blank"
              >instagram</a
            ><span>/</span>
          </li>
          <li class="order-social-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="order-social-link"
              target="_blank"
              >facebook</a
            ><span>/</span>
          </li>
          <li class="order-social-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="order-social-link"
              target="_blank"
              >youtube</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
