.advertisement {
    padding: 80px 0;
    background-color: #fbfbfb;
}

.advertisement-wrapper {
    color: #141414;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.advertisement-discount {
    color: #fbfbfb;
    border-radius: 12px;
    background-color: #576f35;
    padding: 0 14px;
    margin-left: -10px;
    margin-right: -10px;
}

@media screen and (max-width: 767.98px) {
    .advertisement-discount {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .advertisement {
        padding: 100px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
    .advertisement-wrapper {
        font-size: 64px;
        margin-top: 18px;
    }
}

@media screen and (min-width: 768px) {
    .advertisement-wrapper {
        font-size: 64px;
    }
}

@media screen and (min-width: 1280px) {
    .advertisement-wrapper {
        font-size: 76px;
    }
}

