.hero {
    background-color: #576F35;
}

.main-hero-container {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    margin: 0 auto;
}

.hero-text-wrapper {
    padding: 100px 20px 40px 20px;
}

.hero-main-text {
    max-width: 335px;
    font-weight: 600;
    font-size: 46px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero-text {
    max-width: 335px;
    font-size: 14px;
    line-height: 1.29;
}

.hero-picture {
    height: 370px;
    background-color: #576F35;
    background-image: linear-gradient(rgba(20, 20, 20, 0.2),rgba(20, 20, 20, 0.2)), url(../img/hero-img/hero-phone-1x.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    
    .main-hero-container {
        max-width: 768px;
    }
    
    .hero-text-wrapper {
        padding: 122px 32px 50px 32px;
    }

    .hero-main-text {
        max-width: 704px;
        font-size: 76px;
        margin-bottom: 25px;
    }

    .hero-text {
        font-size: 16px;
        line-height: 1.25;
        max-width: 603px;
    }

    .hero-picture {
        height: 539px;
        background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(../img/hero-img/hero-teblet-1x.png);
    }
    
}

@media screen and (min-width: 1280px) {

    .main-hero-container {
        max-width: 1440px;
    }

    .desktop-container {
        flex-direction: row;
    }

    .hero-text-wrapper {
        display: flex;
        flex-direction: column;
        padding: 238px 28px 50px 100px;
        width: 50%;
    }
    
    .hero-main-text {
        width: 502px;
        margin-bottom: 128px;
    }

    .hero-text {
        width: 472px;
    }

    .pic-wrapper {
        width: 50%;
    }

    .hero-picture {
        height: 800px;
        background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(../img/hero-img/hero-desk-1x.png);
    }

}