h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



.container {
    padding: 0 20px;
    margin: 0 auto;
}


.vegetables {
    font-family: "Inter Tight", sans-serif;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #7a3145;
}

.vegetables-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.title-span {
    color: rgba(251, 251, 251, 0.3);
}

.vegetables-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #fbfbfb;
    margin-bottom: 40px;
}

.vegetables-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.vegetables-item {
    border-radius: 40px;
    padding: 32px 26px;
    width: 100%;
    background-color: #fbfbfb;
}

.vegetables-title-three {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #7a3145;
    margin-bottom: 12px;
}

.vegetables-subtext {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 14px;
}

/* .vegetables-picture {} */

@media screen and (min-width: 375px) {
    .container {
        width: 375px;
    }

    .vegetables-item {
        width: 334px;
        height: 379px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0 32px;
    }

    .vegetables {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .vegetables-title {
        max-width: 508px;
        font-size: 64px;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 50px;
    }


    .vegetables-text {
        max-width: 626px;
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 50px;
    }

    .vegetables-list {
        gap: 28px 20px;
    }

    .vegetables-item {
        padding: 32px 30px;
        width: 342px;
        /* height: 379px; */
        width: calc((100% - 20px)/2);
    }

    .vegetables-title-three {
        font-size: 32px;
    }

    .vegetables-subtext {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}